#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 40px;
  width: 30px;
  transform: scaleX(-1);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.borderlines{
  border: 2px solid black;
  border-width: 2px;
  width: 600px;
  height: 700px;
  position: relative;
}

.cookiesContainer{
  border: 2px solid black;
  width: 200px;
  height:250px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 30px;
}

.cookiesContainer.h1{
  font-family: 'Times New Roman', Times, serif;
}

button{
  width: 100%;
}